@import 'variables';
@import 'mixin';



main{
	@include posflex(center,flex-start);
	padding-left: 5%;
	color:#ffffff;

	.title{
		background-color:$ABlue;
		border-radius: 10px;
		box-shadow: 0px 5px 5px rgba(0, 0, 0, .2);
		@include posflex(center,center);
		width: 75%;
		height: 7%;
		margin-bottom: 30px;
		font-size:1em;
		
		p{
			span{
				font-weight: bolder;
			}
			
		}
	}
	section{
		background-color:#ffffff;
		width: 75%;
		height: auto;
		border-radius: 10px;

		form{
			@include posflex(center,center);
			padding:7% 8%;
			.formInfo{
				padding:2% 0;
				height: 100%;
				width: 100%;
				input{
					height: 100%;
					width: 100%;
					padding:5% 10% 4% 8%;
					border-radius: 5px;
					border:1px solid #dddddd;
					text-weight:bolder;
					font-size: 1em;
					background-color: #ffffff;
				}
				input::placeholder{
					font-size:15px;
					font-weight: 600;
				}
				.placeholderColor::-webkit-input-placeholder {
    				color:  $pRed;
 				}
				input:focus{
					outline:none;
					border:1px solid #000000;
				}
				input:-webkit-autofill {
					-webkit-box-shadow: 0 0 0px 1000px white inset;
				}
				.errorImg{
					border:2px solid $pRed;
					position:relative;
					background: url("../images/icon-error.svg") no-repeat;
					background-position: 95% 50%;
				}
				.error{
					display: none;
					height: 100%;
					width: 100%;
					margin-top: 1%;

					p,#emailError{
						font-style: italic;
						text-align: right;
						color:$pRed;
					}
				}
				
			}
			.submitBtn{
					height: 100%;
					width: 100%;
					background-color:$pGreen;
					color:#ffffff;
					font-size: 15px;
					text-transform : uppercase;
					padding:4% 0;
					border-radius:5px;
					margin: 2% 0;
				}
			button:focus{
					outline:none;
				}
			p{
				color:#dddddd;
				font-size:12px;

				a{
					color:$pRed;
				}
			}
		}
	}
}