$width:1440px;

$pRed:hsl(0, 100%, 74%);

$pGreen: hsl(154, 59%, 51%);

$ABlue:hsl(248, 32%, 49%);

$nDackBlue:hsl(249, 10%, 26%);

$nGrayishBlue:hsl(246, 25%, 77%);

$fontSize:16px;

$bg:"../images/bg-intro-desktop.png";

$bgMobile:"../images/bg-intro-mobile.png";


